<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="static/css/mystyle.css">
<title>难受啊飞飞</title>
</head>

<body>
    <h1>这是一个标题</h1>
    <h2>这是一个标题</h2>
    <button type="button" onclick="render()">点我！</button>
    <p>这是一个段落。</p>
    <script src="static/js/myscript.js"></script>
    <hr>
    <p class="lavicenter">这是一个段落。</p>
    <hr>
    <p id="lavi123">这是一个段落。</p>
    <a href="https://baijiahao.baidu.com/s?id=1732248435135428631">赢麻了</a>
    <canvas id="can" width="1600px" height="1200px">4</canvas>
</body>
</html>